* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
    /* display: flex;
    align-items: center;
    justify-content: center; */
	/* height: 50px; */
    /* padding-bottom: 1rem; */
	background-color: #ADD8E6;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DAA520;
    width: 800px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #23272A;
    padding-top: 1rem;
    border-top: 1px solid white;
}

.jumbo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
}

.border {
    border: 1px dashed black;
}

.logo {
    height: 25px;
    width: 20%;
}

.menu {
    height: 25px;
    width: 60%;
}

.login {
    height: 25px;
    width: 20%;
}

.home {
    height: 300px;
    width: 600px;
    background-color: #EE82EF;
}

.pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 500px; */
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pagina:nth-child(odd) {
    background-color: #D3D3D3;
}

.pagina:last-child {
    background-color: #23272A;
}

.container {
    display: flex;
    width: 800px;
    height: 100%;
    background-color: black;
}

.block1 {
    background-color: #1F90FF;
    height: 500px;
    width: 70%;
}

.block2 {
    background-color: #FFC0CA;
    height: 500px;
    width: 30%;
}

.block3 {
    background-color: green;
    height: 600px;
    width: 100%;
}

.block4 {
    background-color: #F18080;
    height: 400px;
    width: 30%;
}

.block5 {
    background-color: #1EB2AA;
    height: 400px;
    width: 17.5%;
}

.containerfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7FFFD4;
    height: 35px;
    width: 800px;
}

.btn {
    background-color: #D48E8C;
    height: 20px;
    width: 50px;
}
