* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
	height: 50px;
	background-color: #ADD8E6;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #23272A;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.logo {
    height: 25px;
    width: 25%;
}

.menu {
    height: 25px;
    width: 50%;
}

.login {
    height: 25px;
    width: 25%;
}

.container {
    background-color: #DAA520;
    border: 1px dashed black;
}

.home {
    height: 300px;
    width: 600px;
    background-color: #EE82EF;
}

.pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 500px; */
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.pagina:nth-child(odd) {
    background-color: #D3D3D3;
}

.pagina:last-child {
    background-color: #23272A;
}

.container2 {
    display: flex;
    width: 800px;
    height: 100%;
    background-color: black;
}

.block1 {
    background-color: #1F90FF;
    height: 500px;
    width: 70%;
    border: 1px dashed black;
}

.block2 {
    background-color: #FFC0CA;
    height: 500px;
    width: 30%;
    border: 1px dashed black;
}

.block3 {
    background-color: green;
    height: 600px;
    width: 100%;
    border: 1px dashed black;
}

.block4 {
    background-color: #F18080;
    height: 400px;
    width: 30%;
    border: 1px dashed black;
}

.block5 {
    background-color: #1EB2AA;
    height: 400px;
    width: 17.5%;
    border: 1px dashed black;
}

.block6 {
    background-color: #7FFFD4;
    height: 50px;
    width: ;
}
